* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.fa {
    font-size: 30px;
}

.pays {
    gap: 20px;

}

.dark {
    background-color: #212529;
    /* border: 5px solid #000; */

}

.test {
    color: #fff;
}

img {
    width: 100%;
}

.sun {
    padding: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;

}

.input {
    display: flex;
    justify-content: space-between;
}

.input input {
    width: 180px;
    outline: none;
}

.input #select {
    width: 180px;
    outline: none;
}